@import '../../scss/utils/bootstrap.scss';

.active {
  a {
    color: $body-color;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $success;
  }
}
.list-item {
  color: $gray-800;
}
