@import '../../scss/utils/bootstrap.scss';
.sort-icon {
  height: 20px;
}
.bg-status_published {
  background: rgba($success, 0.15);
  color: $success;
}
.bg-status_unpublished {
  background: rgba($warning, 0.15);
  color: $warning;
}
.bg-status_trashed {
  background: rgba($danger, 0.15);
  color: $danger;
}
.bg-status_draft {
  background: rgba($gray-700, 0.15);
  color: $gray-700;
}
.bg-status_archived {
  background: rgba($color-blue-3, 0.15);
  color: $color-blue-3;
}
.btn_toggle::after {
  border: none !important;
}
.button_pagination {
  padding-right: 60px !important;
}
.border-select {
  border: none;
  padding: 6px;
  background: white;
}
.border-select:focus-visible {
  border: none !important;
}
.border_pagination button {
  border: 1px solid #ebebeb !important;
  min-width: 38px;
  min-height: 38px;
  background: white;
}
.isHidden {
  display: none !important;
}
.select_limit{
  .react-select__control{
    min-height: 40px !important;
  }
}
.pagination_list{
  > *{
    &:not(:first-child){
      border-left: 1px solid var(--bs-border-color) !important;
    }
  }
  .wr_pagination_number{
    > *{
      &:not(:first-child){
        border-left: 1px solid var(--bs-border-color) !important;
      }
    }
    .active{
      color: #fff !important;
    }
  }
}